// Backgrounds
$landing: #041434;
$projects: #132851;
$skills: #0d224b;
$contact: #162E5C;
// Main theme colors
$orange: #F28C18;
$red: #F40000;
$blue: #1B33FB;
// Typo colors
$main-typo: #FFFFFF;
$basic: #F0F0F0;
// Fake window
$bar: #162E5C;
$bar-border: #364D7A;
// Input valid
$green: #2F9E48;