@import 'typo';
@import 'colors';
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(-45deg, #00091b, $landing);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

%noselect {
    user-select: none;
}

ul {
    list-style: none;
    padding: 0;
    color: $basic;
    @extend %koho;
    @extend %typo-basic;
}

.fp-tableCell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fp-scrollable {
    width: 100%;
}

.project {
    .fp-tableCell {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.fp-slides,
.fp-slide {
    width: 100%;
    padding: 0;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #fff;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #fff transparent transparent;
}

.fp-slidesNav {
    display: flex;
    justify-content: center;
    ul li a {
        &.active span {
            background-color: $orange;
        }
        span {
            background-color: #fff;
        }
    }
}

@media screen and (max-width: 480px) {
    .fp-controlArrow.fp-next {
        border-width: 1.5rem 0 1.5rem 1rem;
    }
    .fp-controlArrow.fp-prev {
        border-width: 1.5rem 1rem 1.5rem 0;
    }
}