@import url('https://fonts.googleapis.com/css?family=KoHo:400,700|Londrina+Shadow|Londrina+Solid&display=swap');
%koho {
    font-family: 'KoHo', sans-serif;
}

%londrina-solid {
    font-family: 'Londrina Solid', monospace, cursive;
}

%londrina-shadow {
    font-family: 'Londrina Shadow', monospace, cursive;
}

%typo-landing {
    font-size: 15rem;
}

%typo-header {
    font-size: 8rem;
}

%typo-cv-header {
    font-size: 3rem;
}

%typo-link {
    font-size: 1.5rem
}

%typo-basic {
    font-size: 1.2rem;
}